{% extends "@app/layout.twig" %}

{% block content %}
Wellcome to Cloud OS

<style>
.app_menu{
	padding-top: 10px;
}
.app_menu__row{
	padding-bottom: 5px;
}
</style>

<br/>
<br/>
<b>Menu</b>

<ul class="app_menu">
	{% for route in routes %}
		{% if route.route_prefix != "/" and
			route.route_prefix != ""
		%}
		<li class="app_menu__row">
			<a href="{{ route.route_prefix }}">
				{{ route.docker_name }}
			</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>

<div class="app_menu__logout">
	<a href="/logout">
		Logout
	</a>
</div>

{% endblock %}